*{
    margin: 0;
    box-sizing: border-box;
}
header nav{
    display: flex;
    align-items: center;
    background-color: lightskyblue;
    position: relative;
    height: 40px;
}
header nav ul{
    list-style-type: none;
    display: flex;
    position: absolute;
    right: 5vw;
    gap: 20px;
}
#hero-section{
    background-image: url(newIdeaImages/Hero-Background.jpg);
    height: 400px;

    display: grid;
    place-items: center;
}
#hero-section h1{
    color: white;
    font-size: 5vw;
    transition-duration: 1s;
}
#hero-section h1:hover{
    color: rgb(202, 32, 202);/*to be masked later😎 I wanna make 
    it transparent but with black outlines on hover*/
}
