@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans&family=Ubuntu&display=swap');
*{
    margin: 0;
    box-sizing: border-box;
    /*font-family: 'Playpen Sans', cursive; /*for the bodys*/
    font-family: 'Ubuntu', sans-serif;
}
header nav{
    display: flex;
    align-items: center;
    background-color: blueviolet;
    color: gold;
    position: relative;
    height: 40px;
}
header nav:hover{
    color: white;
}
header nav ul{
    list-style-type: none;
    display: flex;
    position: absolute;
    right: 5vw;
    gap: 20px;
    color: gold;
}
.nav-li:hover{
    color: whitesmoke;
}
.nav-links{
    color: gold;
    text-decoration: none;
}
.nav-links:hover{
    color: whitesmoke;
}

.nav-linksmobile{
    color: blueviolet;
    text-decoration: none;
}
.nav-linksmobile:hover{
    color: gold;
}


.small-screen-icon{
    display: none;
}
.manu{
    display: none;
}






#hero-section{
    background-image: url(newIdeaImages/Hero-Background.jpg);
    height: 400px;

    display: grid;
    place-items: center;
    overflow: hidden;
}
/* #hero-section h1{
    color: rgba(0, 0, 0, 0.5);
    font-size: 5vw;
    transition-duration: 1s;
} */

/* it starts here */
svg{
    font   : bold 30px Century Gothic, Arial;
    width  : 80vw;
    height : 120px;
    margin: 0 25vw;
  }
  
  text{
    fill            : gold;/* change to none for transparent text*/
    stroke          : gold;
    stroke-width    : .2px;
    stroke-linejoin : round;
    animation       : 4s pulsate infinite;
    animation-timing-function: ease;
  }
  
  @keyframes pulsate {
    50%{ stroke-width: .5px }
    50%{ fill: none }
    50%{ stroke: white }
  }
  /* it stops here */

#hero-section h1:hover{
    color: rgb(202, 32, 202);/*to be masked later😎 I wanna make 
    it transparent but with black outlines on hover*/
}





#books-section{
    display: grid;
    grid-template-columns: 50vw 50vw;
    height: 1024px;
    overflow: hidden;
    background-color: blueviolet;
}
.book{
    background-color: blueviolet;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.book a{
    width:100%;
    height: 100%;
    display: grid;
    place-items: center;
    text-decoration: none;
    color:black;
}
.card{
    width: 70%;
    height: 70%;

    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    background-color: rgb(215, 195, 224);
    border-radius: 20px;
    /* transition-duration: 1s; */
    /* animation-name: UpFloat;
    animation-duration: 6s; */

}
.move{
    transform: translateY(150px);
    opacity: 0;
    transition: 2s all ease;
}
  
.move.active{
    transform: translateY(0);
    opacity: 1;
}

@keyframes UpFloat {
    from{margin-top: 600px;}
    to{margin-top: 0px;}
}

.card:hover{
    box-shadow: 0 0 30px gold;
    border-radius: 30px;
    background-color: aliceblue;
    scale: 1.1; /*they said it's not mostly supported. might have to
     add width and height scaling for the others*/
}
.card h4{
    margin-bottom: 20px;
}
.card p{
    width: 80%;
    margin-bottom: 15px;
    text-align: center;
}
.first-book-image{
    width: 95%;
    height: 350px;
    background-image: url(newIdeaImages/boy-dark-dragons\ 1280.png);
    background-size: cover;
    /* background-attachment: fixed; /* for doing that nice window scroll effect*/
    background-position: 0 30%;
    border-radius: 30px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.second-book-image{
    width: 95%;
    height: 350px;
    background-image: url(newIdeaImages/Cosmic\ Starkill\ 0.png);
    background-size: cover;
    background-position: bottom;
    border-radius: 30px;
    margin-top: 10px;
    margin-bottom: 20px;
    
}






#about-section{
    height: 600px;
    /* background-image: linear-gradient( lightskyblue, blueviolet); */
    background-color: whitesmoke;
}
.about-heading{
    text-align: center;
    font-size: 3vw;

    padding-top: 30px;
}
.about-content{
    height: 70%;
    /* background-color: yellow; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3vw;
}
.author{
    height: 400px;
    width: 30vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 10px whitesmoke;
    background-color: blueviolet;
    border-radius: 30px;
    font-size: 1.5rem;

    position: relative;
    top: 30px;
    transition-duration: 1s;
}
.author:hover{
    scale: 1.12;
    box-shadow: 0 0 30px lightgoldenrodyellow;

    color: gold;
    font-size: 3rem;
}
.knot-image{
    width: 20vw;
    display: grid;
    place-items: center;
    
}
/* #the-knot-image{
    transition-duration: 1s;
}
#the-knot-image:hover{
    transform: rotateY('180');
} wanted to make the knot do a rotate animation on hover*/
.profile{
    width: 15vw;
    height: 15vw;
    border-radius: 50%;
    background-color: yellow;

    margin-top: 5vw;
    margin-bottom: 3vw;
}
.circle1{
    background-image: url(newIdeaImages/halloween-8298982_1920.jpg);
    background-size: cover;
}
.circle2{
    background-image: url(newIdeaImages/owl-7744852_1280.jpg);
    background-size: cover;
    background-position: -100px -10px;
}
/* .demiurge{
    margin-left: 5vw;
} */





#image-gallery{
    height: 300px;
    background-color: blueviolet;
    overflow: hidden;
}
.slide-pics{
    width: 20vw;
    height: 80%;
    background-color: aliceblue;
    background-size: cover;
    background-position: center;
    border-radius: 30px;
    transition-duration: 1s;
}
.slide-pics:hover{
    scale:1.2;
    box-shadow: 0 0 25px black;
}
.slide-div{
    display: grid;
    grid-template-columns: 20vw 20vw 20vw 20vw 20vw 20vw 20vw 20vw;
    gap: 10px;
    place-items: center;

    height: 280px;
    margin-left: 0vw;
    animation-name: Sliding;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes Sliding{
    from{margin-left: -3vw;}
    to{margin-left: -65vw;}
}
.slide1{
    background-image: url(newIdeaImages/fantasy-4032943_1280.jpg);
}
.slide2{
    background-image: url(newIdeaImages/boy-dark-dragons\ 1280.png);
}
.slide3{
    background-image: url(newIdeaImages/tiger-man.jpg);
    background-size: 25vw 20vw;
}
.slide4{
    background-image: url(newIdeaImages/green-forest-girl\ 1280.jpg);
}
.slide5{
    background-image: url(newIdeaImages/hi-tech.jpg);
}
.slide6{
    background-image: url(newIdeaImages/cosmic\ starkiller.jpg);
}
.slide7{
    background-image: url(newIdeaImages/boy-dark-dragons.png);
}
.slide8{
    background-image: url(newIdeaImages/castle-7696633_1280.jpg);
    background-size: 25vw 20vw;
}




footer{
    height: 100px;
    background-color: blueviolet;
    text-align: center;
    /* display: flex;
    justify-content: center; */
}
footer hr{
    border-width: 2px;
    border-color: gold;

    width: 80vw;
    margin-left: 10vw;
}
footer p{
    margin-top: 30px;
    color: gold;
}

@media screen and (max-width:500px) {
    #books-section{
        grid-template-columns: 100vw;
    }
.about-content{
    flex-direction: column;
}
.author{
    width: 80%;
}
.profile{
    scale: 1.3;
}
.knot-image{
    margin-top:60px;
}
text{
    font-size: 50px;
}
svg{
    margin: 0 5vw;
}
.about-heading{
    font-size: 2rem;
}/* try to change every hover state to focus or active later*/
.slide-pics{
    min-width: 200px;
}
.slide-div{
    grid-template-columns: 200px 200px 200px 200px 200px 200px 200px 200px;
    animation-duration: 15s;
}
@keyframes Sliding{
    from{margin-left: -30px;}
    to{margin-left: -950px;}
}
.slide3{
    background-size: cover;
}
}


/* start the replication here*/
@media screen and (max-width:570px) {
    header nav ul{
        display: none;
    }
    .small-screen-icon{
        display: inline-flex;
        flex-direction: column;
        width: 30px;
        height: 30px;
        /* overflow: hidden; */
    
        position: absolute;
        top: 15px;
        right: 20px;

        cursor: pointer;
       }
     
    .stick{
    background-color: white;
    width: 25px;
    height: 2px;
    border-radius: 10px;
    margin-bottom: 5px;

    position: relative;
    transform: rotate(0);
    transition: all 2s;
    }

    .stick2{
        animation-name: fadeIn;
        animation-duration: 0.5s;
        animation-delay: 1.5s;
        animation-fill-mode: both;
    }
    @keyframes fadeIn {
        from{
            opacity: 0%;
        }
        to{
            opacity: 100%;
        }
    }
    /* .small-screen-icon:active{
    background-color: black;
    } */


    .manu{
        display: none;
        flex-direction: column;
        position: absolute;
        align-items: center;

        width: 85vw;
        height: 70vw;
        border-radius: 30px;
        box-shadow: 0 0 15px gold;
        background-color: white;
        top:20vw;
        /* left:50%; */
        margin-left: 10%;
        margin-right: 15%;
        z-index: 4;
        /* transition: all 2s; */
        animation-name: floatIn;
        animation-duration: 2s;

   }
   @keyframes floatIn {
        from{
            transform: translateY(-200px);
        }
        to{
            transform: translateY(0px);
        }

        0%{
            opacity: 0%;
        }
        50%{
            opacity: 5%;
        }
        100%{
            opacity: 100%;
        }
   }

   .manu-items{
    font-size: 1rem;
    margin-bottom: 20px;
    color: blueviolet;
    font-weight: bold;
   }
   #manu-about{
    margin-top: 40px;
   }
   .manu-contact{
    font-size: 1rem;
    font-family: "Fraunces";
    width: 40%;
    height: 15%;
    background-color: yellow;
    color: blueviolet;
    font-weight: bold;
    border-radius: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
   }
}