@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans&family=Ubuntu&display=swap');
*{
    margin: 0;
    box-sizing: border-box;
    /*font-family: 'Playpen Sans', cursive; /*for the bodys*/
    font-family: 'Ubuntu', sans-serif;
}
header nav{
    display: flex;
    align-items: center;
    background-color: blueviolet;
    color: gold;
    position: relative;
    height: 40px;
    width: 98.5vw;
}
header nav:hover{
    color: white;
}
header nav ul{
    list-style-type: none;
    display: flex;
    position: absolute;
    right: 5vw;
    gap: 20px;
    color: gold;
}
.nav-li:hover{
    color: whitesmoke;
}
.nav-links{
    color: gold;
    text-decoration: none;
}
.nav-links:hover{
    color: whitesmoke;
}

.nav-linksmobile{
    color: blueviolet;
    text-decoration: none;
}
.nav-linksmobile:hover{
    color: gold;
}

#contactli{
    display: inline-block;
    background-color: whitesmoke;
    width: 100px;
    height: 20px;
    border-radius: 10px;
    color: blueviolet;
}
#contactli:hover{
    font-weight: bold;
    color: black;
}

.small-screen-icon{
    display: none;
}
.manu{
    display: none;
}


body{
    background-image: radial-gradient(blueviolet, purple);
    background-repeat: no-repeat;
    min-height: 200vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.intro>h1{
    margin-top: 150px;
    margin-bottom: 50px;
    text-decoration: underline;
    text-decoration-thickness: 5px;
}
.intro>h1:hover{
    text-decoration: none;
}
.intro{
    margin-bottom: 100px;
    color: gold;
}



.allContact{
    display: flex;
    column-gap: 50px;
}
.whatsapp{
    overflow-x: hidden;
}
.contact-div{
    width: 250px;
    height: 150px;
    background-color: whitesmoke;
    border-radius: 30px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* .facebook-n-others{
    display: inline-flex;
} */
.icon{
    height: 50px;
    width:50px;
    /* background-color: black; */
}
.group{
    display:flex;
    align-items: center;
    min-width: 160px;
}
.g2{
    margin-bottom: 20px;
}
.links{
    background-color: gold;
    color: black;
    text-decoration: none;
    border-radius: 10px;

    min-width: 130px;
    margin-left: 15px;
}
.links:hover{
    color: blueviolet;
}
.gmail{
    background-image: url(../newIdeaImages/icons8-gmail-94.png);
    background-size: cover;
}
.facebook{
    background-image: url(../newIdeaImages/icons8-facebook-messenger-94.png);
    background-size: cover;
}
.whatsapp{
    background-image: url(../newIdeaImages/icons8-whatsapp-94.png);
    background-size: cover;
}

@media screen and (max-width:570px) {
    .allContact{
        flex-direction: column;
        row-gap: 30px;
    }
    .group{
        flex-direction: column;
        row-gap: 20px;
    }
    .contact-div{
        width:70vw;
    }
    .facebook-n-others{
        height: 250px;
    }
    a.links{
        height: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

/* start the replication here*/
@media screen and (max-width:570px) {
    header nav ul{
        display: none;
    }
    .small-screen-icon{
        display: inline-flex;
        flex-direction: column;
        width: 30px;
        height: 30px;
        /* overflow: hidden; */
    
        position: absolute;
        top: 15px;
        right: 20px;
       }
     
    .stick{
    background-color: white;
    width: 25px;
    height: 2px;
    border-radius: 10px;
    margin-bottom: 5px;
    }

    /* .small-screen-icon:active{
    background-color: black;
    } */


    .manu{
        display: none;
        flex-direction: column;
        position: absolute;
        align-items: center;

        width: 85vw;
        height: 70vw;
        border-radius: 30px;
        box-shadow: 0 0 15px gold;
        background-color: white;
        top:20vw;
        /* left:50%; */
        margin-left: 10%;
        margin-right: 15%;
        z-index: 4;
        /* transition: all 2s; */
        animation-name: floatIn;
        animation-duration: 2s;

   }
   @keyframes floatIn {
        from{
            transform: translateY(-200px);
        }
        to{
            transform: translateY(0px);
        }

        0%{
            opacity: 0%;
        }
        50%{
            opacity: 5%;
        }
        100%{
            opacity: 100%;
        }
   }

   .manu-items{
    font-size: 1rem;
    margin-bottom: 20px;
    color: blueviolet;
    font-weight: bold;
   }
   #manu-about{
    margin-top: 40px;
   }
   .manu-contact{
    font-size: 1rem;
    font-family: "Fraunces";
    width: 40%;
    height: 15%;
    background-color: yellow;
    color: blueviolet;
    font-weight: bold;
    border-radius: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
   }
}