@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans&family=Ubuntu&display=swap');
*{
    margin: 0;
    box-sizing: border-box;
    /*font-family: 'Playpen Sans', cursive; /*for the bodys*/
    font-family: 'Ubuntu', sans-serif;
    color: gold;
}
body{
    background-color: blueviolet;
    overflow-x: hidden;
   
}




header nav{
    display: flex;
    align-items: center;
    background-color: blueviolet;
    color: gold;
    position: relative;
    height: 40px;
}
header nav:hover{
    color: white;
}
header nav ul{
    list-style-type: none;
    display: flex;
    position: absolute;
    right: 5vw;
    gap: 20px;
    color: gold;
}
.nav-li:hover{
    color: whitesmoke;
}
.nav-links{
    color: gold;
    text-decoration: none;
}
.nav-links:hover{
    color: whitesmoke;
}
#booksli{
    background-color: whitesmoke;
    border-radius: 10px;
    min-width: 80px;
    min-height: 15px;
    text-align: center;
    display: inline-block;
    color: blueviolet;
}
#booksli:hover{
    color: black;
    font-weight: bold;
}




.background-masking{
    background-image: url(../newIdeaImages/Cosmic\ Starkill\ 0.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    padding: 0px;
    width: 100vw;
    height: 95vh;

    position: absolute;
    z-index: 1;
}
.gradient-div{
    width: 100%;
    height: 100%;
    background-image: linear-gradient( transparent, blueviolet);
}



.about-content{
    position: absolute;
    top: 80px;
    z-index: 2;
    margin: 0 auto;
    width: 100vw;


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    row-gap: 50px;
}
.intro h1{
    font-size: 5rem;
}
.intro h2{
    font-size: 3.5rem;
}


/* start here*/
.Story{
    text-align: left;
    width: 85vw;
}










footer{
    height: 100px;
    width: 100vw;
    background-color: blueviolet;
    text-align: center;

    position: absolute;
    bottom: -1000px;/* fix this later, gotta make it responsive*/
    z-index: 3;
    /* display: flex;
    justify-content: center; */
}
footer hr{
    border-width: 2px;
    border-color: gold;

    width: 80vw;
    margin-left: 10vw;
}
footer p{
    margin-top: 30px;
    color: gold;
}